# QtCreator project files
qt*
CAFFE.cbp

# CMake files other than CMakeLists.txt
CMake*
!*Lists.txt
cmake*
Makefile

# Build files
bin
lib

# Emacs backups
*~

# Mesh files
*.msh

# Tecplot files
*.dat
*.phy
*.plt

# Doxygen directories
html
latex

# Case output
*.dat

# Callgrind
callgrind.*